
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Paras Vasishth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>
  <body class="container">
    <h1>Counted</h1>

    <a href=" {% url 'home' %} ">back to homepage</a>

    <h2> Your text</h2>
    {{ fulltext }}
    <br/>


    <h2> Words Count</h2>
    total words = {{ words }}
    <br/><br/>

    {% for word,value in worddictionary %}
    {{ word }} = {{ value }}
    <br/>
    {% endfor %}
  </body>
</html>
